*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.tox
*.egg-info/*
*.eggs
build/*
docs/_build/*
dist/*
pbr-*.egg/
.sentinel*

*.log
pytest*.xml
.pytest_cache

.coverage*
coverage.xml
coverage

test.db
.venv

# Emacs
.dir-locals.el
.\#*
*~
\#*\#

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Pycharm
.idea/
